body{
	margin:0 auto;
}
html{
	font-size:102.4px;
}
@media all (max-width: 768px){
	html{
		font-size: 92.8px;
	}
}
@media all (max-width: 414px){
	html{
		font-size:50px;
	}
}
@media all (max-width:375px){
	html{
		font-size:45.3px;
	}
}
@media all (max-width:320px){
	html{
		font-size:38.6px;
	}
}
.main{
	width:8.28rem;
}
.head{
	height:4.09rem;
	background-color: red;
	padding-top: 0.12rem;
}
.nav{
	height:9.29rem;
	background-color: white;
}

.search{
	width:6.26rem;
	height:0.61rem;
	display:block;
	line-height: 0.84rem;
	margin:0 auto;
	border-radius:0.36rem;
}
.head img{
	width:7.73rem;
	display:block;
	margin:0 auto;
	position:relative;
	margin-top: 0.14rem;
	border-radius:0.16rem;
}
.head .himg{
	width:0.42rem;
	float:left;
	margin-left:0.32rem;
}
.nav .image{
	display: block;
	width:7.5rem;
	height:1.92rem;
	margin:0 auto;
	
}
.nav .image img{
	float:left;
	width:2.5rem;
}
.nav li{
	font-size:0.26rem;
	float:left;
	text-align: center;
	color:#666666;
	display: flex;
	width:1.07rem;
	flex-direction: column;
	margin-right:0.4rem;
	flex:1;
	
}
.nav li img{
	margin-bottom: 0.3rem;
	/*position: relative;
	left:13%;*/
	margin:0.2rem auto;
	width:0.9rem;
	text-align: center;

}
.nav ul{
	display: block;
	margin-top: 0.09rem;
	margin:0 auto;
	width:7.82rem;
	display: flex;
}
.list ul .right{
	margin-right:0;
}
.list_bot{
	height:3.66rem;
	background-color: white;
}
.bot_top .top_one{
	margin-top:0.32rem;
	line-height: 0.82rem;
}
.bot_top .top_two{
	width:8.28rem;
	margin:0 auto;
}
.bot_bot ul{
	display: flex;
	width:7rem;
	margin:0 auto;
}
.bot_bot ul li{
	flex:1;
	margin-right: 0.2rem;
	text-align: center;
}
.bot_bot ul li img{
	width:1.5rem;
	text-align: center;
}
.footer{
	height:1.1rem;
	padding-top:0.12rem;
	border-top: 1px solid #e4e1e1;
}

.footer li{
	display: flex;
	float:left;
	font-size: 0.2rem;
	text-align: center;
	flex-direction: column;
	width:0.6rem;
	margin-right: 1.2rem;
}
.footer ul{
	width:7.8rem;
	height:1.1rem;
	margin:0.12rem auto;		
}
.footer .right{
	margin-right:0;
}
.footer li img{
	width:0.47rem;
	margin:0 auto;
	margin-bottom:0.12rem;
}
